@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Tilt+Prism&display=swap');

.custom-shape-divider-bottom-1699723448{
    margin-top: 1rem;
}
.about-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 3rem 10% 0 10%;
}
.about-container .item{
    border: 2px solid var(--textnav);
    width: max(1fr, .8fr);
    background-color: var(--nav);
    color: var(--text);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
}

.about-container .item p{
    margin: 0;
    text-align: justify;
    font-size: 18px;
    font-family: 'Kameron', serif;
}

.about-container img{
    width: max(50%, 200px);
    border-radius: .5rem;
}
