@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Tilt+Prism&display=swap');
:root{
    --nav:#321313;
    --textnav:#F4991A;
    --text:#F9F5F0;
    --fontgrande:48px;
    --fontmedia:42px;
    --fontpequena:24px;
    background-color: #F2EAD3;
    font-family: 'Kameron', 'Tilt Prism', cursive;
}

::selection {
    background-color: var(--textnav);
    color: var(--text);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.catego{
    display: flex;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--textnav);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 4rem;
    width: 100%;
    background-color: var(--nav);
}

.menu ul{
    list-style: none;
}

.menu ul li{
    color: var(--text);
    font-size: var(--fontmedia);
    display: inline-block;
    margin-right: 2rem;
}

.menu ul li a{
    padding-bottom: 0.3rem;
    color: var(--text);
    text-decoration: none;
    font-size: var(--fontpequena);
    transition: .3s ease-in-out;
}

.menu ul li a:hover{
    color: var(--textnav);
    border-bottom: 1px solid var(--textnav);
    padding-bottom: 0.15rem;
}

.svg-menu{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--text);
    font-family: Kameron;
    font-size: 42px;
}

.menu .svg-menu:hover svg path {
    color: var(--textnav);
    stroke: var(--textnav);
    transition: 0.3s ease-in-out;
}
 
.pesquisa{
    margin: 4rem 0 0 5rem;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--fontgrande);
}

.corpo{
    font-size: var(--fontpequena);
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
  
.input {
    min-height: 3rem;
    min-width: 20rem;
    width: 30rem;
    padding: 0 1rem;
    color: var(--text);
    font-size: 15px;
    border:none;
    border-radius: 6px 0 0 6px;
    background-color: var(--nav);
}

.input::placeholder{
    color: var(--text);
    opacity: 0.4;
}

.button--submit {
    min-height: 3rem;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: var(--textnav);
    color: var(--text);
    font-size: 15px;
    cursor: pointer;
    transition: background-color .1s ease-in;
}
  
.button--submit:active {
    background-color: var(--nav);
}
  
.input:focus, .input:focus-visible {
    border-color: var(--textnav);
    outline: none;
}

.images{
    margin: 5rem 8rem 0 0;
    float: right;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}
  
.images .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}