@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Tilt+Prism&display=swap');
:root{
    --nav:#321313;
    --textnav:#F4991A;
    --text:#F9F5F0;
    --font-muito-grande:64px;
    --fontgrande:48px;
    --fontmedia:42px;
    --font-media2:32px;
    --fontpequena:24px;
    background-color: #F2EAD3;
    font-family: 'Kameron', 'Tilt Prism', cursive;
    scrollbar-color: var(--textnav) var(--nav);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--textnav);
    color: var(--text);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar{
    width: .4rem;
    background-color: var(--nav);
}

::-webkit-scrollbar-thumb{
    background-color: var(--textnav);
    border-radius: 1rem;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--textnav);
    position: sticky;
    padding-top: .5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 4rem;
    width: 100%;
    background-color: var(--nav);
}

.menu ul{
    list-style: none;
}

.menu ul li{
    color: var(--text);
    font-size: var(--fontmedia);
    display: inline-block;
    margin-right: 2rem;
}

.menu ul li a{
    padding-bottom: 0.3rem;
    color: var(--text);
    text-decoration: none;
    font-size: var(--fontgrande);
    transition: .3s ease-in-out;
}

.menu ul li a:hover{
    color: var(--textnav);
}

.svg-menu{
    gap: 1rem;
    display: inline-block;
    background-color: transparent;
    position: relative;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--text);
    font-family: Kameron;
}

.menu .svg-menu:hover svg path {
    color: var(--textnav);
    stroke: var(--textnav);
    transition: .3s ease-in-out;
}

.titlo{
    font-size: var(--fontgrande);
}	

.title{
    font-size: var(--fontgrande);
    color: var(--nav);
    text-align: center;
    margin: 0;
}

.corpo{
    font-size: var(--fontpequena);
    margin: 0;
}

.text-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    top: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: var(--textnav);
    font-size: var(--font-muito-grande);
    text-align: center;
}

.text-overlay p{
    margin: 0;
}

.text-overlay h5{
    margin-top:20%;
    margin-bottom: 3rem;
}

.text-overlay svg{
    margin-bottom: .1em;
    animation: seta 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes seta {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(10px);
        opacity: 0;
    }
}

.text-overlay svg{
    position: absolute;
    bottom: 0;
}

.bg-image {
    position: absolute;
    background-color: #321313ae;
    width: 100%;
    height: 95vh;
    z-index: 1;
    border-bottom: var(--textnav) 2px solid;
}

.images{
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

.circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.svg-menu .tooltiptext {
    font-size: 20px;
    visibility: hidden;
    width: fit-content;
    background-color: var(--textnav);
    color: var(--text);
    text-align: center;
    border-radius: 5px;
    padding: .3rem;
    bottom: -60%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.svg-menu:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr{
    margin: 0 0 2rem 0;
    border-color: var(--nav);
    width: 10%;
}

.card-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.catego {
    color: var(--text);
    width: 10rem;
    height: 11rem;
    padding: 1rem;
    border: 2px solid var(--textnav);
    border-radius: 1rem;
    text-align: center;
    background-color: var(--nav);
    transition: .3s ease-in-out;
    margin: 0 .5em 0 ; /**/
}

.catego:hover{
    box-shadow: 0 4px var(--textnav);
    transform: translateY(-10px) scale(1.04);
}

.catego h2 {
    font-size: 22px;
    margin: 0;
}

.img-card{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: .6rem;
}

.produtos{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-produto{
    width: 90%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 15rem;
    height: 20rem;
    padding: 1em;
    background: var(--nav);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.card-img img{
    width: 100%;
    border-radius: .5rem;
    transition: .5s ease;
    height: 10rem;
    object-fit:cover;
}

.card svg{
    stroke: var(--textnav);
    width: 20px;
    height: 20px;
}

.card-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.text-title{
    color: var(--textnav);
    margin: 0;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.5;
}

.text-body{    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--text);
    margin: 0;
    font-size: 1.2em;
}

.card-button{
    border: 2px solid var(--textnav);
    display: flex;
    padding: .5em;
    cursor: pointer;
    border-radius: 1rem;
    transition: .2s ease-in-out;
}

.card-button svg{
    width: 24px;
    height: 24px;
}

.card-button:hover{
    background-color: var(--textnav);
}

.card:hover{
    transform: translateY(-1%);
}

footer{
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--nav);
    color: var(--text);
}

.footer-container{
    position: a;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-evenly;
    font-size: 24px;
}

.footer-img .titulo{
    margin: 0;
}

.footer-img .cuerpo{
    margin: 0;
    font-size: 18px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.social-media a svg:hover {
    color: var(--textnav);
    stroke: var(--textnav);
    fill: var(--textnav);
    transition: all .3s ease-in-out;
}

.custom-shape-divider-bottom-1699723448{
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1699723448 svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1699723448 .shape-fill{
    fill: #321313;
}