@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Tilt+Prism&display=swap');
:root{
    --nav:#321313;
    --textnav:#F4991A;
    --text:#F9F5F0;
    --fontgrande:48px;
    --fontmedia:42px;
    --fontpequena:24px;
    background-color: #F2EAD3;
    font-family: 'Kameron', 'Tilt Prism', cursive;
    scrollbar-color: var(--textnav) var(--nav);
    scrollbar-width: thin;
}

::selection {
    background-color: var(--textnav);
    color: var(--text);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
    width: .4rem;
    background-color: var(--nav);
}

::-webkit-scrollbar-thumb {
    background-color: var(--textnav);
    border-radius: 1rem;
}

::-webkit-scrollbar:hover{
    width: .6rem;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--textnav);
    position: sticky;
    padding-top: .5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 4rem;
    width: 100%;
    background-color: var(--nav);
}

.menu ul{
    list-style: none;
}

.menu ul li{
    color: var(--text);
    font-size: var(--fontmedia);
    display: inline-block;
    margin-right: 2rem;
}

.menu ul li a{
    padding-bottom: 0.3rem;
    color: var(--text);
    text-decoration: none;
    font-size: var(--fontgrande);
    transition: .3s ease-in-out;
}

.menu ul li a:hover{
    color: var(--textnav);
}

.svg-menu{
    gap: 1rem;
    display: inline-block;
    background-color: transparent;
    position: relative;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--text);
    font-family: Kameron;
}

.menu .svg-menu:hover svg path {
    color: var(--textnav);
    stroke: var(--textnav);
    transition: .3s ease-in-out;
}

.pesquisa{
    margin: 5rem 0 0 5rem;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: var(--fontgrande);
}

.titlo{
    margin: 0 40% 0 0;
    width: fit-content;
}	

.title{
    font-size: var(--fontgrande);
    color: var(--nav);
    text-align: center;
    margin: 0;
}

.corpo{
    font-size: var(--fontpequena);
    margin: .4rem 0 0 0;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-right: 1rem;
}

.input {
    min-height: 3rem;
    min-width: 16rem;
    width: 30rem;
    padding: 0 1rem;
    color: var(--text);
    font-size: 15px;
    border: none;
    border-radius: 16px 0 0 16px;
    background-color: var(--nav);
    transition: all .2s ease-in;
}

.input::placeholder{
    font-size: 18px;
    font-family: kameron;
    color: var(--text);
    opacity: 0.4;
}

.button--submit {
    min-height: 3rem;
    padding: .5em 1em;
    border: none;
    border-radius: 0 16px 16px 0;
    background-color: var(--textnav);
    color: var(--text);
    font-size: 15px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.button--submit:hover {
    transform: scale(1.03);
    border: 1px solid var(--nav);
    border-radius: 0 6px 6px 0;
    border-left: 0;
}

.button--submit:active {
    background-color: var(--nav);
}

.input:focus, .input:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--textnav);
    border-radius: 6px 0 0 6px;
}

.images{
    margin: 5rem 8rem 0 3rem;
    float: right;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.images .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
}

.svg-menu .tooltiptext {
    font-size: 18px;
    visibility: hidden;
    width: fit-content;
    background-color: var(--textnav);
    color: var(--nav);
    text-align: center;
    border-radius: 5px;
    padding: .3rem;
    bottom: -50%;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.svg-menu:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr{
    margin: 0 0 2rem 0;
    border-color: var(--nav);
    display: flex;
    align-items: center;
    width: 10%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.catego {
    color: var(--text);
    width: 10rem;
    height: 11rem;
    padding: 1rem;
    border: 2px solid var(--textnav);
    border-radius: 1rem;
    text-align: center;
    background-color: var(--nav);
    transition: .3s ease-in-out;
    margin: 0 .5em 0 ; /**/
}

.catego:hover{
    box-shadow: 0 4px var(--textnav);
    transform: translateY(-10px) scale(1.04);
}

.catego h2 {
    font-size: 22px;
    margin: 0;
}

.img-card{
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: .6rem;
}

.produtos{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-produto{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-wrap: wrap;
}

.card{
    width: 15rem;
    height: 20rem;
    padding: 1em;
    background: var(--nav);
    transition: .2s ease-in-out;
    cursor: pointer;
}

.card-img img{
    width: 100%;
    border-radius: .5rem;
    transition: .5s ease;
    height: 10rem;
    object-fit:cover;
}

.card svg{
    stroke: var(--textnav);
    width: 20px;
    height: 20px;
}

.card-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.text-title{
    color: var(--textnav);
    margin: 0;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.5;
}

.text-body{    
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona os três pontos no final do texto */
    white-space: nowrap; /* Impede a quebra de linha */
    color: var(--text);
    margin: 0;
    font-size: 1.2em;
}

.card-button{
    border: 1px solid var(--textnav);
    display: flex;
    padding: .5em;
    cursor: pointer;
    border-radius: 1rem;
    transition: .2s ease-in-out;
}

.card-button svg{
    width: 24px;
    height: 24px;
}

.card-button:hover {
    background-color: var(--textnav);
}

.card:hover {
    transform: translateY(-1%);
}

footer{
    margin-top: 5rem;
    border-top: 2px solid var(--textnav);
    width: 100%;
    background-color: var(--nav);
    color: var(--text);
}

.footer-container{
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-evenly;
    font-size: 24px;
}

.footer-img .titulo{
    margin: 0;
}

.footer-img .cuerpo{
    margin: 0;
    font-size: 18px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}